#root {
  background: linear-gradient(0deg, rgba(14,150,255,1) 0%, rgba(42,219,243,1) 100%);
  height: 100vh;
  width: 100vw;
  position: fixed;
}
#hide {
  display:none;
}
#loader {
  font-size: 20px;
  display: none;
  justify-content: center; align-items: center; text-align: center; width: 100%;
  display: block; z-index: 900000; height: 200px; margin-top: -150vh; 
}
.left {
  margin-left: 30px;
}
.lds-defaultTwo {
position: relative;
width: 80px;
height: 80px;
transform: scale(0.6); margin-top: -25px;
}
.lds-defaultTwo div {
position: absolute;
width: 6px;
height: 6px;
background: #fff;
border-radius: 50%;
animation: lds-default 1.2s linear infinite;
}
.lds-defaultTwo div:nth-child(1) {
animation-delay: 0s;
top: 37px;
left: 66px;
}
.lds-defaultTwo div:nth-child(2) {
animation-delay: -0.1s;
top: 22px;
left: 62px;
}
.lds-defaultTwo div:nth-child(3) {
animation-delay: -0.2s;
top: 11px;
left: 52px;
}
.lds-defaultTwo div:nth-child(4) {
animation-delay: -0.3s;
top: 7px;
left: 37px;
}
.lds-defaultTwo div:nth-child(5) {
animation-delay: -0.4s;
top: 11px;
left: 22px;
}
.lds-defaultTwo div:nth-child(6) {
animation-delay: -0.5s;
top: 22px;
left: 11px;
}
.lds-defaultTwo div:nth-child(7) {
animation-delay: -0.6s;
top: 37px;
left: 7px;
}
.lds-defaultTwo div:nth-child(8) {
animation-delay: -0.7s;
top: 52px;
left: 11px;
}
.lds-defaultTwo div:nth-child(9) {
animation-delay: -0.8s;
top: 62px;
left: 22px;
}
.lds-defaultTwo div:nth-child(10) {
animation-delay: -0.9s;
top: 66px;
left: 37px;
}
.lds-defaultTwo div:nth-child(11) {
animation-delay: -1s;
top: 62px;
left: 52px;
}
.lds-defaultTwo div:nth-child(12) {
animation-delay: -1.1s;
top: 52px;
left: 62px;
}
.lds-default {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}
.lds-default div {
position: absolute;
width: 6px;
height: 6px;
background: #fff;
border-radius: 50%;
animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
animation-delay: 0s;
top: 37px;
left: 66px;
}
.lds-default div:nth-child(2) {
animation-delay: -0.1s;
top: 22px;
left: 62px;
}
.lds-default div:nth-child(3) {
animation-delay: -0.2s;
top: 11px;
left: 52px;
}
.lds-default div:nth-child(4) {
animation-delay: -0.3s;
top: 7px;
left: 37px;
}
.lds-default div:nth-child(5) {
animation-delay: -0.4s;
top: 11px;
left: 22px;
}
.lds-default div:nth-child(6) {
animation-delay: -0.5s;
top: 22px;
left: 11px;
}
.lds-default div:nth-child(7) {
animation-delay: -0.6s;
top: 37px;
left: 7px;
}
.lds-default div:nth-child(8) {
animation-delay: -0.7s;
top: 52px;
left: 11px;
}
.lds-default div:nth-child(9) {
animation-delay: -0.8s;
top: 62px;
left: 22px;
}
.lds-default div:nth-child(10) {
animation-delay: -0.9s;
top: 66px;
left: 37px;
}
.lds-default div:nth-child(11) {
animation-delay: -1s;
top: 62px;
left: 52px;
}
.lds-default div:nth-child(12) {
animation-delay: -1.1s;
top: 52px;
left: 62px;
}
@keyframes lds-default {
0%, 20%, 80%, 100% {
  transform: scale(1);
}
50% {
  transform: scale(1.5);
}
}

#fb-root {
  z-index: 90000;
  height: 60vh;
  align-items: center;
  display: flex;
}
.dash {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hashtagTitle {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 200;
  margin-top: 50px;
}
.hashtagDesc {
  font-size: 20px;
  font-weight: 200;
  margin-top: 10px;
}
.hashtagList {
  margin-top: 50px;
}
.innerHashtagList {
  width: 500px;
  height: 400px;
  background: rgba(255, 255, 255, 0.301);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.theListItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 300px;
  justify-content: space-between;
}
.theListItem h1 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 15px;
}
.theListItem h2 {
  font-weight: 200;
  font-size: 18px;
}

.btnContainLog {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.btn {
  padding: 7.5px;
  width: 115px;
  height: 50px;
  background: black;
  color: white; 
  border: none; 
  border-radius: 5px;
}
